$bright-theme-100: #f5f4f2;
$bright-theme: #fffefb;
$transparent-bright-theme: #efede136;
$dark-theme: #655e5e;
$transparent-dark-theme: #655e5e36;

$nav-height-desktop: 155px;
$nav-height-mobile: 62px;
$view-max-width: 1200px;
